 /* CSS styles for the navigation bar */
 .navbar_Aqib {
    background-color: rgba(174, 172, 172, 0.5);
    overflow: hidden;
    margin-bottom: 0px;
  }

  .navbar_Aqib a {
    float: left;
    color: #060606;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 17px;
    text-decoration:solid ;
    margin: 4px 2px;
  }

  .navbar_Aqib:hover{
      background-color: rgba(141, 141, 141,0.5);
    color: rgb(0, 0, 0);
    text-emphasis-color: white;
  }

  .navbar_Aqib a:hover {
      margin: 4px 2px;
    
    color: rgb(255, 255, 255);
   
  }

  /* CSS styles for the login and sign-up buttons */
  .button-container {
    text-align: center;
    margin-top: 200px;
  }

  .button-container button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  .button-container button:hover {
    opacity: 0.8;
  }
  body {
    background-image: url('img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  
 